.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .toolbar-icon {
    margin-right: 10px;
  }
}

.app-content {
  min-height: calc(100vh - 64px);
  background-color: var(--mat-sys-surface-container-low);
}
